<div id="shapeFn">
  <ul class="shapeList">
    <li>
      <label id="copy" (click)="do('copy')"  (mouseover)="menuOver('copy')"
             (mouseleave)="menuleft('copy')">
        Copy</label>
    </li>
    <li>
      <label id="move" (click)="do('move')"  (mouseover)="menuOver('move')"
             (mouseleave)="menuleft('move')">
        Move</label>
    </li>
    <li>
      <label id="delete" (click)="do('delete')" (mouseover)="menuOver('delete')"
             (mouseleave)="menuleft('delete')">Delete</label>
    </li>
    <li>
      <label id="scale" (click)="do('scale')"  (mouseover)="menuOver('scale')"
             (mouseleave)="menuleft('scale')">Resize</label>
    </li>
    <li>
      <label id="fill" (click)="do('fill')"  (mouseover)="menuOver('fill')"
             (mouseleave)="menuleft('fill')">Fill Shape</label>
    </li>
    <li>
      <label id="close" (click)="do('close')"  (mouseover)="menuOver('close')"
             (mouseleave)="menuleft('close')">Close Menu</label>
    </li>

  </ul>
</div>
